.login-form {
  .notice + .form-field {
    margin-top: 1rem;
  }

  .form-button-wrapper,
  .form-field + .form-field {
    margin-top: 0.8rem;
  }

  .form-field-input-wrapper {
    margin-top: 0.25rem;
  }

  .signup-link {
    color: $color-grey;
    font-size: 0.9rem;
    margin-top: 1.5rem;
  }
}
