.navbar-menu {
  position: relative;

  a {
    border-radius: $border-radius;
    color: $color-white;
    cursor: pointer;
    padding: 0.3rem;
    text-decoration: none;

    &:hover {
      background-color: $color-white;
      color: $color-black;
      text-decoration: none;
    }
  }

  .navbar-menu-title {
    border-radius: $border-radius;
    cursor: pointer;
    padding: 0.3rem;

    &:hover {
      background-color: $color-white;
      color: $color-black;
    }
  }

  .navbar-menu-dropdown {
    background-color: $color-white;
    border-radius: $border-radius;
    border: 1px solid $color-border;
    box-shadow: $box-shadow-sm;
    color: $color-black;
    min-width: 5rem;
    padding: 0.25rem;
    position: absolute;
    right: 0;
    top: 1.5rem;
  }

  .navbar-menu-item {
    border-radius: $border-radius;
    cursor: pointer;
    padding: 0.25rem;

    &:focus,
    &:hover {
      background-color: $color-blue-focus;
    }
  }
}
