.signup-form {
  margin-top: 1.7rem;

  @media (min-width: 56.875rem) {
    padding-left: 2rem;
  }

  .notice {
    max-width: 26rem;
  }

  .notice + .signup-form-field {
    margin-top: 1rem;
  }

  .signup-form-button-wrapper,
  .signup-form-field + .signup-form-field {
    margin-top: 0.8rem;
  }

  .signup-form-field-input {
    margin-top: 0.25rem;

    input {
      max-width: 26rem;
    }
  }

  .login-link {
    color: $color-grey;
    font-size: 0.9rem;
    margin-top: 1.5rem;
  }
}
