.signup-form {
  margin-top: 1.7rem;

  @media (min-width: 56.875rem) {
    border-left: 1px solid $color-border;
    padding-left: 2rem;
  }

  .notice {
    max-width: 26rem;
  }

  .notice + .signup-form-field {
    margin-top: 1rem;
  }

  .signup-form-button-wrapper,
  .signup-form-field + .signup-form-field {
    margin-top: 0.8rem;
  }

  .signup-form-field-input {
    margin-top: 0.25rem;

    input {
      max-width: 26rem;
    }
  }

  .signup-form-field-error {
    color: $color-red;
    font-size: $font-size-field-error;
    margin-top: 0.25rem;
  }
}
