.todo-item {
  border-radius: $border-radius;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr min-content;
  margin-top: 0.4rem;

  &:hover {
    background-color: lighten($color-grey, 47%);
  }

  &.dragging {
    cursor: grab;
  }

  .description {
    padding: 0.4rem 0 0.4rem 0.4rem;

    &:hover {
      border-radius: $border-radius;
    }
  }

  .actions {
    margin-left: 0.2rem;
    height: 100%;
  }

  .action-icon {
    align-items: center;
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
    cursor: pointer;
    display: grid;
    font-weight: bold;
    grid-template-columns: 1fr;
    height: 100%;
    justify-items: center;
    width: 2rem;
  }

  .action-delete {
    color: $color-red;

    &:focus,
    &:hover {
      background-color: $color-red-focus;
    }
  }
}
