.todo-items {
  .add-hint,
  .loading-hint {
    color: $color-hint;
  }

  .todo-items-list {
    list-style-type: none;
    padding-left: 0;
  }
}

.new-todo-form + .todo-items {
  margin-top: 2rem;
}
