.signup-form {
  margin-top: 1.7rem;

  @media (min-width: 56.875rem) {
    border-left: 1px solid $color-border;
    padding-left: 2rem;
  }

  .signup-form-button,
  .signup-form-field + .signup-form-field {
    margin-top: 0.8rem;
  }

  .signup-form-field-input {
    margin-top: 0.25rem;

    input {
      max-width: 26rem;
    }
  }
}
