<p>
  Hi,
</p>

<p>
  We're excited! It looks like you signed up for an account with
  <%= link_to 'App Name', @root_url %>.
</p>

<p>
  If that's true, please visit the following link to confirm your email
  address, and start using the service.
</p>

<p>
  <%= link_to 'Confirm my email address', @confirmation_url %>
</p>

<p>
  If you didn't actually sign up for an account, you can safely ignore this
  email.
</p>

<p>
  Thanks,
  <br>
  App Name
</p>
